CheDaoReciptHike/bin/**
CheDaoReciptHike/obj/**
ReciptGen/bin/**
ReciptGen/obj/**
AutoUpdater/obj/**
AutoUpdater/bin/**
AutoUpdate/obj/**
AutoUpdate/bin/**
CheDaoLoader/bin/**
CheDaoLoader/obj/**
MouseKeyboardLibrary/bin/**
MouseKeyboardLibrary/obj/**
GlobalMacroRecorder/bin/**
GlobalMacroRecorder/obj/**
WndInteract/obj/**
WndInteract/bin/**
bin/*.*
Output/*.*
*.log
UpdateList.xml
UpdateList.xml
*.exe