<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="log4net-config-file" value="log4net.config"/>
    <!--线程休眠时间-->
    <add key="Sleep" value="5000"/>
    <!--心跳间隔-->
    <add key="HeartJumpPeriod" value="30000"/>
    <!--行数-->
    <add key="RowNum" value="6"/>
    <!--列数-->
    <add key="ColNum" value="6"/>
    <add key="StationName" value="车到加油_测试"  />
    <add key="StationCode" value="2292416201410560"/>
  </appSettings>
  
</configuration>
