<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section type="System.Configuration.NameValueSectionHandler" name="shuikong_layout_cfg"/>
  </configSections>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <remove name="Default"></remove>
      </listeners>
    </trace>
    <switches>
      <add name="General_Log_SW" value="4"/>
    </switches>
  </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="port" value="3344"/>
    <add key="debug_category" value="info,error,debug"/>
  </appSettings>
<shuikong_layout_cfg>
  <add key="shuikong_wnd_path" value="S(开具增值税普通发票)[0]"/>
  <add key="shuikong_wnd_path-1" value="S(无标题 - 记事本)[0]"/>
  <add key="next_key" value="{TAB}"/>
  <add key="max_send_ops" value="12"/>
  <add key="0" value="F(Customer_Text)"/>
  <add key="6" value="95#"/>
  <add key="11" value="F(Amount)"/>
</shuikong_layout_cfg>
</configuration>