<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <remove name="Default">
        </remove>
      </listeners>
    </trace>
    <switches>
      <!--log输出开关，0是没有输出，1只是错误输出，。。。。4为输出所有的log-->
      <add name="General_Log_SW" value="4"/>
    </switches>
  </system.diagnostics>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="port" value="3344"/>
    <!--服务端口，请确保与一体机一致-->
    <!--<add key="user_info" value="壳牌赤沙站"/>-->
    <!--油站名，暂时可选-->
    <!--<add key="user_id" value=""/>-->
    <!--油站ID,由服务器端分配，暂时可选-->
    <!--<add key="banner" value="打印前，请确认光标停留在税款软件客户名称区"/>
    给用户重要信息提醒，可选-->
    <add key="lifetime_of_rec" value="65"/>
    <!--一体机信息保留时间，超过该事件，应用将会删除对应记录-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!-- refer to https://msdn.microsoft.com/en-us/library/system.windows.forms.sendkeys.sendwait(v=vs.110).aspx -->
      <add key="SendKeys" value="SendInput"/>
    
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
